$background-color: linear-gradient(112.43deg, rgba(5, 0, 85, 0.84) 4%, rgba(103, 22, 168, 0.84) 43.73%, rgba(89, 5, 109, 0.89) 88.2%);
$cell-color: rgba(32, 3, 37);
$x-color: rgb(248, 83, 152);
$o-color: rgb(252, 150, 82);