@import 'mixins';
@import 'variables';

body {
  margin: 0;
  background: $background-color;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &-board {
    @include square(60vmin);
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(3, calc((100% - 20px)/3));
    grid-template-rows: repeat(3, calc((100% - 20px)/3));
    gap: 10px;
  
    & .cell {
      @include square(100%, 30%);
      background-color: $cell-color;
      cursor: pointer;
      position: relative;

      display: flex;
      justify-content: center;
      align-items: center;

      @include filled-cell {
        cursor:default;
      }

      &.cell-x {
        &::before, &::after {
          content: '';
          position: absolute;
          background-color: $x-color;
          height: 80%;
          width: 15%;
          border-radius: 40px;
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }
      }

      &.cell-o {
        &::before, &::after {
          content: '';
          position: absolute;
          background-color: $o-color;
          @include square(70%, 50%);
        }

        &::after {
          transform: scale(0.65);
          background-color: $cell-color;
        }
      }
    }
  }
}


@include unfilled-cell {
  &:hover {
    opacity: 0.6;
  }
}
