@import 'mixins';
@import 'variables';

@import './menu.scss';

body {
  margin: 0;
  padding: 0;
}

.main {
  width: 100vw;
  height: 100vh;
  background: $background-color;
  display: flex;
  justify-content: center;
  align-items: center;

  &-board {
    @include square(80vmin);
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(3, calc((100% - 20px)/3));
    grid-template-rows: repeat(3, calc((100% - 20px)/3));
    gap: 10px;
  
    & .cell {
      @include square(100%, 30%);
      background-color: $cell-color;
      cursor: pointer;
      position: relative;

      display: flex;
      justify-content: center;
      align-items: center;

      @include filled-cell {
        cursor:default;
      }

      &.cell-x {
        &::before, &::after {
          content: '';
          position: absolute;
          background-color: $x-color;
          height: 80%;
          width: 15%;
          border-radius: 40px;
        }

        &::before {
          animation: show-x-sign-before 0.3s ease;
          transform: rotate(45deg);
        }

        &::after {
          animation: show-x-sign-after 0.3s ease;
          transform: rotate(-45deg);
        }
      }

      &.cell-o {
        &::before, &::after {
          content: '';
          position: absolute;
          background-color: $o-color;
          @include square(70%, 50%);
          animation: show-o-sign 0.3s ease;
        }

        &::after {
          @include square(45%, 50%);
          background-color: $cell-color;
        }
      }
    }
  }
}


@include unfilled-cell {
  &:hover {
    opacity: 0.6;
  }
}

@include min-width(420px) {
  .main-board {
    @include square(70vmin);
  }
}

@keyframes show-x-sign-before {
  from {
    transform: rotate(45deg) scale(0.5);
  }

  to {
    transform: rotate(45deg) scale(1);
  }
}

@keyframes show-x-sign-after {
  from {
    transform: rotate(-45deg) scale(0.5);
  }

  to {
    transform: rotate(-45deg) scale(1);
  }
}

@keyframes show-o-sign {
  from {
    transform: scale(0.5);
  }

  to {
    transform: scale(1);
  }
}