@import "variables";

.menu {
    &-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.61);

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        color: #ffffff;

        &_game {
            &-in-progress {
                display: none;
            }
        }
    }

    &-h1 {
        font-size: 12vw;
        color: $o-color;
    }
}
